  <!-- 共通CTA -->
  <section class="pre-footer">
    <div data-reveal="left">製品についてのご相談・ご質問は、お気軽にお問い合わせください。</div>
    <div data-reveal="right" data-reveal-delay="1">
      <a class="button button--light pre-footer__secondary" href="{{ commonCtaSecondaryHref }}">{{ commonCtaSecondaryText }}</a>
      <a class="button" href="contact.html">お問い合わせ</a>
    </div>
  </section>
